/* 
#1e293b 
#f0bb03
#ffffff
*/
* {
  box-sizing: border-box;
  font-family: 'Bree Serif';
}

body {
  margin: 0;
}

.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  color: #f0bb03;
  font-size: 41px;
  font-weight: 600;
}

.description {
  color: #ffffff;
  font-weight: 700;
  font-size: 23px;
}
.button {
  border-radius: 12px;
  border-style: none;
  border-width: 0;
  background-color: #ffffff;
  padding: 12px 24px;
  color: #1e293b;
  font-size: 15px;
  font-weight: 600;
}
