.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 23px;
  max-width: 48%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.card-title {
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 600;
  color: #171f46;
}
.card-description {
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 500;
  color: #64748b;
}

@media screen and (min-width: 992px) {
  .card-title {
    font-size: 24px;
  }
  .card-container {
    border-top-width: 3px;
  }
}
