* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark-mode {
  background-color: #000000;
}
.light-mode {
  background-color: #ffffff;
}
.dark-head {
  color: #ffffff;
}
.light-head {
  color: #000000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-width: 340px;
  height: 240px;
  border-radius: 13px;
  border-style: none;
}

.button {
  padding: 12px 24px;
  cursor: pointer;
  outline: none;
  border-radius: 11px;
  border-style: none;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}
